.d3planner-icon-wrap {
  position: relative;
  top: 0.3em;
  margin-top: -0.4em;
  margin-right: 0.25em;
  border: 1px solid #444;
  border-bottom-color: #333;
  border-top-color: #aaa;
  border-radius: 0.2em;
  box-sizing: content-box;
}
.d3planner-icon, .d3planner-icon-wrap {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
}
.d3planner-item .d3planner-icon, .d3planner-eth .d3planner-icon {
  background-size: 1.2em auto !important;
  &.d3planner-icon-special {
    background-size: auto 1.2em !important;
    background-repeat: no-repeat;
    background-position-x: center;
  }
}
.d3planner-set .set-name {
  color: #0f0;
  cursor: pointer;
}
.d3planner-icon-gem {
  position: relative;
  top: 0.3em;
  margin-top: -0.3em;
  margin-right: 0.15em;
  display: inline-block;
  background-size: 13em auto !important;
  width: 1.3em;
  height: 1.3em;
}
.d3planner-icon-skill {
  position: relative;
  top: 0.3em;
  margin-top: -0.3em;
  margin-right: 0.15em;
  display: inline-block;
  background-size: 1.3em auto !important;
  width: 1.3em;
  height: 1.3em;
}
.d3planner-icon-altar {
  position: relative;
  top: 0.25em;
  margin-top: -0.35em;
  margin-right: 0.12em;
  font-size: 1.3em;
  background-image: url(~assets/images/altar1.webp);
  background-position-y: -2em;
  display: inline-block;
  background-size: auto 4em !important;
  width: 1em;
  height: 1em;
  &.d3p-major, &.d3p-final {
    background-image: url(~assets/images/altar2.webp);
  }
  &.d3p-final {
    width: 2em;
    margin-right: 0;
  }
}
.d3planner-item.item-legendary {
  .d3planner-icon-wrap { background-image: url(~assets/paperdoll/orange.png); }
  a, span { color: #bf642f !important; }
}
.d3planner-item.item-set {
  .d3planner-icon-wrap { background-image: url(~assets/paperdoll/green.png); }
  a, span { color: #00ff00 !important; }
}
.d3planner-item.item-rare {
  .d3planner-icon-wrap { background-image: url(~assets/paperdoll/yellow.png); }
  a, span { color: #ffff00 !important; }
}
.d3planner-item.item-magic {
  .d3planner-icon-wrap { background-image: url(~assets/paperdoll/blue.png); }
  a, span { color: #6969ff !important; }
}
.d3planner-item.item-normal {
  .d3planner-icon-wrap { background-image: url(~assets/paperdoll/brown.png); }
  a, span { color: inherit !important; }
}
.d3planner-item.item-unique {
  .d3planner-icon-wrap { background-image: url(~assets/paperdoll/yellow.png); }
  a, span { color: #65c2a7 !important; }
}
.d3planner-item.item-epic {
  .d3planner-icon-wrap { background-image: url(~assets/paperdoll/brown.png); }
  a, span { color: #a335ee !important; }
}
.d3planner-eth.item-ethereal {
  .d3planner-icon-wrap { background-image: url(~assets/paperdoll/teal.png); }
  a, span { color: #43ebbb !important; }
}
.d3planner-sanctified {
  .d3planner-icon-wrap { background-image: url(~assets/paperdoll/sanctified.png); }
  a, span { color: #84c0cf !important; }
}
.d3planner-item, .d3planner-eth, .d3planner-skill, .d3planner-rune, .d3planner-skill-rune, .d3planner-passive, .d3planner-follower {
  a {
    text-decoration: none;
  }
}
.d3planner-build.d3planner-skill, .d3planner-build.d3planner-skill-rune, .d3planner-build.d3planner-follower {
  a, span {
    color: #007fac;
  }
  .d3p-skill-sanctified {
    color: #84c0cf;
  }
  .d3p-skill-icon {
    position: relative;
    top: 0.23em;
    margin-top: -0.23em;
    margin-right: 0.2em;
    display: inline-block;
    font-size: 1.3em;
  }
}
.d3planner-skill span.skill-name {
  color: inherit;
  cursor: pointer;
}
.d3planner-buff span {
  color: #f5f238;
  cursor: pointer;
}
.d3planner-build.d3planner-passive {
  a, span {
    color: #007fac;
  }
  .d3p-passive-icon {
    position: relative;
    top: 0.23em;
    margin-top: -0.23em;
    left: 0;
    margin-right: 0.12em;
    display: inline-block;
    font-size: 1.3em;
  }
}
.d3planner-rune, .d3planner-skill-rune {
  .rune-name {
    cursor: pointer;
    &.rune-arc { color: #9b51e0; }
    &.rune-col { color: #0693e3; }
    &.rune-fir { color: #ff6900; }
    &.rune-hol { color: #ffd726; }
    &.rune-phy { color: #8c8282; }
    &.rune-psn { color: #168a1a; }
    &.rune-lit { color: #8ed1fc; }
  }
}
.d3planner-build .rune-icon {
  background-image: url(~assets/images/runes_small.png);
  background-repeat: no-repeat;
  background-size: auto 1em !important;
  width: 1em;
  height: 1em;
  display: inline-block;
  position: relative;
  top: 0.2em;
  margin-top: -0.2em;
  margin-right: 0.15em;
  &.rune-a { background-position: 0 0; }
  &.rune-b { background-position: -1em 0; }
  &.rune-c { background-position: -2em 0; }
  &.rune-d { background-position: -3em 0; }
  &.rune-e { background-position: -4em 0; }
  &.rune-x { background-position: -5em 0; }
}

.d3-tooltip-set {
  padding: 6px;
}
.d3-tooltip-set .d3-item-properties .item-itemset {
  margin-top: 0;
}
