@import 'src/common';

.d3planner-item-table {
  visibility: hidden;
}
.d3p-ItemTable {
  display: flex;
  flex-direction: column;
  width: 748px;
  margin-right: -10px;
  color: $color-fg;
  font-family: $font-family;
  font-size: $font-size;
  line-height: normal;
  * {
    box-sizing: border-box;
  }
  input:not([type="image"]) {
    background-color: mix($color-bg, $color-bg-contrast, 75%);
    box-shadow: inset 0 0 2px rgba($color-bg-dark, 0.4), 0 0 2px rgba($color-bg-dark, 0.2);
    color: main-color(85%);
    border: 2px solid $color-border;
    padding: 2px;
    outline: none;
    font: inherit;
  }
  .d3p-table-head {
    border-top: 1px solid $color-border;
    border-left: 1px solid $color-border;
    display: flex;
    flex-direction: row;
    width: 738px;
    & > span {
      font-weight: bold;
      text-align: center;
      background: main-color(2%);
      position: relative;
      cursor: pointer;
      &:first-child {
        padding: 0 24px 0 0;
        cursor: pointer;
      }
      &:nth-child(2), &:nth-child(3) {
        cursor: default;
      }
      &:not(:first-child) {
        padding: 3px 4px;
      }
    }
    input {
      font-weight: normal;
      border-width: 1px;
      width: 100%;
      padding: 2px 24px 2px 3px;
    }
    .d2p-clear {
      position: absolute;
      font-size: 16px;
      top: 4px;
      right: 27px;
      color: main-color(70%);
      cursor: pointer;
      &:hover {
        color: $color-fg;
      }
    }
  }
  .d3p-table-body {
    & > ul {
      width: 738px;
      margin-left: 0 !important;
      padding-left: 0 !important;
      list-style-type: none !important;
    }
    & > ul > li {
      border-left: 1px solid $color-border;
      display: flex;
      flex-direction: row;
      & > span {
        text-align: right;
      }
      min-height: 24px;
    }
    min-height: m#{a}x(500px, 60vh);
    flex: 1 1;
    flex-basis: 0;
    overflow-y: auto;
  }
  .d3p-table-head, .d3p-table-body > ul > li {
    & > span {
      box-sizing: border-box;
      flex-basis: 0;
      flex-grow: 1;
      overflow: hidden;
      padding: 1px 4px;
      border-right: 1px solid $color-border;
      border-bottom: 1px solid $color-border;
      &:first-child {
        flex-basis: 250px;
        flex-grow: 0;
        text-align: left;
      }
      &:nth-child(2) {
        flex-basis: 70px;
        flex-grow: 0;
      }
      &:nth-child(4) {
        flex-grow: 2;
      }

      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: $brand-color;
  }
  * {
    scrollbar-color: $brand-color rgba(0,0,0,0);
    scrollbar-width: thin;
  }
}
